:root {
    --primary-color: #F6F7EB;
    --secondary-color: #E94F37;
    --accent1-color: #393E41;
    --accent2-color: #3F88C5;
    --heading-font: "Achivo Black", sans-serif;
    --body-font: "Archivo", sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}



.hero {
    position: relative
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 250px;
    width: 80%;
    padding: 5px;
    text-align: left;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}


nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
  margin: 0;
  padding: 0;
}

.socialmedia img {
  width: 24px;
  margin: 0 0.5em;
 

}

footer {
  background-color: #aee0ee;
  text-align: center;
  padding: 1em;
  margin-top: 2em;
}

.history {
  background-color: #f1f1f1;
  padding: 2em;
  text-align: center;
}

.history-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 900px;
  margin: auto;
  text-align: left;
}

.history-content img {
  width: 150px;
  height: auto;
  margin: 0 1em;
}

.adventure {
  background-color: #ffffff;
  padding: 2em;
  text-align: center;
}

.adventure-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
}

.adventure-images figure {
  width: 120px;
  text-align: center;
}

.adventure-images img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}
